:root {
  --textColor: #6d6d6d;
  --backgroundColor: #f8f8f8;
  --headingColor: #2a2a2a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Vollkorn", serif;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  line-height: 1.5;
  height: 100%;
  text-align: center;
  padding: 1em;
}

.container {
  max-width: 328px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

h2,
h3 {
  color: var(--headingColor);
}

h3 {
  font-size: 1.25rem;
  margin: 1rem 0 0.5rem 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

p {
  margin-top: 1em;
}

.section {
  /* border: red 1px solid; */
  margin-top: 2rem;
}

/* section-header */

.section-header {
  font-family: "Brawler", serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  position: relative;
}

.section-header::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #c4c4c4;
  width: 100%;
  left: 0;
  top: 50%;
  z-index: -1;
}

.section-header span {
  background-color: #f8f8f8;
  padding: 0 0.5rem;
}

.section p {
  font-size: 0.875rem;
}

.section-home p {
  font-size: 1rem;
}

/* img */

.img-logo {
  width: 120px;
}

.img-profile {
  border-radius: 50%;
  width: 240px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

/* button styling */

.btns {
  margin-top: 1.5rem;
  display: grid;
  grid-gap: 0.5rem;
}
/* 
@media (min-width: 64rem) {
  .btns {
    grid-template-columns: repeat(2, 1fr);
  }
} */

.btn {
  display: block;
  max-width: 328px;
  width: 100%;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-family: "Brawler", serif;
  color: #fff;
  background-color: #2a2a2a;
  padding: 0.625em 1em;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all ease-in-out 200ms;
}

.btn:hover,
.btn:focus {
  color: #2a2a2a;
  background-color: #f8f8f8;
}

/* footer */

.footer {
  margin-top: 4rem;
}
.footer p {
  font-family: "Brawler", serif;
  font-size: 0.75rem;
  margin-top: 0;
}

/* navbar - hamburger */

.nav-menu {
  display: none;
  gap: 1em;
  position: fixed;
  flex-direction: column;
  z-index: 2;
  background-color: #d9d9d9;
  left: 0;
  top: 0;
  width: 100%;
  padding: 2em;
}

.nav-menu.active {
  display: flex;
}

.nav-link {
  color: #2a2a2a;
  font-family: "Brawler", serif;
  margin: 1em 0;
}

.hamburger {
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
  z-index: 3;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: #6d6d6d;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #6d6d6d;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 0.3em;
  margin-left: 312px;
  transition: all 0.3s ease-in-out;
  background-color: #c4c4c4;
}
